language: go

before_install:
- go get github.com/mattn/goveralls
# Install dependencies, including test dependencies.
- sudo apt-get update && sudo apt-get install -y scamper
- go get -v -t ./...

script:
# Vet the code, build the code, and run all the tests.
- go vet ./...
- go build ./...
- go test ./... -v -coverprofile=_coverage.cov -race

# Build a Docker image to make sure that we can.
- docker build .

# Coveralls
# Upload coverage information for unit tests.
- $HOME/gopath/bin/goveralls -coverprofile=_coverage.cov -service=travis-ci
